<html layout:decorator="customLayout" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <div class="jumbotron">
                    <h1>You can't access to other people contact list!</h1> <br/>
                    <a href="/" class="btn btn-primary center-block">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>