<html layout:decorator="customLayout" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <div class="jumbotron">
                    <h2>Welcome to Phone Book Application!</h2><br/>
                    <p sec:authorize="!isAuthenticated()"><a class="btn btn-primary center-block" href="/login" role="button"> Login </a></p>
                    <p sec:authorize="!isAuthenticated()"><a class="btn btn-primary center-block" href="/register" role="button"> Register </a></p>
                    <p sec:authorize="isAuthenticated()"><a class="btn btn-primary center-block" href="/contact/all" role="button"> Contacts </a></p>
                    <p sec:authorize="isAuthenticated()"><a class="btn btn-primary center-block" href="/logout" role="button"> Logout </a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>