<html layout:decorator="customLayout" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div layout:fragment="content">

    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="page-menu">
                        <a href="/">Main</a> > Register
                    </div>

                    <h2>Register New User</h2> <br/>
                    <p class="bg-danger" align="center" th:if="${#bools.isTrue(duplicate)}" th:text="${errorMsg}"></p>
                    <div class="form-register">
                        <form action="/register" th:action="@{/register}" th:object="${user}" method="POST" enctype="utf8">
                            <label class="bg-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
                            <input class="form-control" type="text" placeholder="Username" th:field="*{username}"/>

                            <label class="bg-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                            <input class="form-control" type="password" placeholder="Password" th:field="*{password}"/><br/>

                            <label class="bg-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
                            <input class="form-control" type="text" placeholder="Name" th:field="*{firstName}"/>

                            <label class="bg-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                            <input class="form-control" type="text" placeholder="Last name" th:field="*{lastName}"/>

                            <label class="bg-danger" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></label>
                            <input class="form-control" type="text" placeholder="Middle name" th:field="*{middleName}"/><br/>

                            <input class="btn btn-primary center-block" type="submit" value="Register" name="register"/>
                            <a class="btn btn-primary center-block" href="/login" role="button"> Log in </a> <br/>
                        </form>
                        <h3 th:text="${message}"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>