<html layout:decorator="customLayout" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div layout:fragment="content">
    <div class="page-menu">
        <a href="/">Main</a> > <a href="/contact/all"> Contact List </a> > Contact
    </div>
    <h3>Contact Info</h3> <br/>
    <div th:object="${contact}">
        <table class="table table-striped">
            <tr>
                <td>Id</td>
                <td th:text="${contact.id}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${contact.firstName}"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td th:text="${contact.lastName}"></td>
            </tr>
            <tr>
                <td>Middle Name</td>
                <td th:text="${contact.middleName}"></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td th:text="${contact.mobilePhoneNumber}"></td>
            </tr>
            <tr>
                <td>Home Number</td>
                <td th:text="${contact.homePhoneNumber}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td th:text="${contact.address}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td th:text="${contact.email}"></td>
            </tr>

        </table>
        <input class="btn btn-primary center-block" type="submit" value="Save" name="editContact"/>
        <a class="btn btn-primary center-block" href="/contact/all" role="button"> Back </a>
    </div>

</div>
</html>